VITE_START_GAME_TIMEOUT_MS=5000
VITE_FIREBASE_API_KEY=your-api-key
VITE_FIREBASE_AUTH_DOMAIN=your-auth-domain
VITE_FIREBASE_PROJECT_ID=your-project-id
VITE_FIREBASE_RECAPTCHA_SITE_KEY=your-recaptcha-site-key
VITE_FIREBASE_APP_ID=your-firebase-app-id

VITE_LEADERBOARD_SUBMIT_COOLDOWN_MS=300000
VITE_API_URL=<your-api-url>
VITE_FIREBASE_APPCHECK_DEBUG_TOKEN=your-appcheck-debug-token

FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_CLIENT_EMAIL=your-firebase-client-email
FIREBASE_PRIVATE_KEY=your-firebase-private-key
APP_CHECK_ENFORCE=true

VITE_ENABLE_ADMIN=false
ENABLE_ADMIN=
ADMIN_PASSWORD=

BUILD_ENV=production
PORT=8080